<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>New comment has been submitted</h1>
<p>Author: <%= @comment.author.email %></p>
<p><%= @comment.text %></p>
</body>
</html>