<!DOCTYPE html>
<html>
	<head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Your PTO request has been approved</h1>
		<p>Starts at: <%= @pto.starts_at %></p>
		<p>Ends at: <%= @pto.ends_at %></p>
	</body>
</html>